<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
      
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

        <style>
                .lvl-over {
                    box-shadow: inset 0px 0px 16px 0px rgba(50, 50, 50, 1);
                }
            
                .lvl-target {
                  background-color: #ddd; 
                  opacity: .5;
                }
            
                [draggable] {
                  cursor: move;
                }
              </style>
    </head>
    <body ng-app="lyceum">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/lists.html">Списки</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/cleandata.html">Загрузка начальных данных</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="container" ng-controller="seedController as vm">
            <div class="row">
                <div ng-if="!vm.cleanDataLoaded"
                    class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Начальные данные не загружены! 
                        <a  href="/admin/cleandata.html"
                            title="загрузть начальные данные">
                            Загрузть начальные данные
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                        <form>
                                <div class="form-row">
                                    <div class="form-group">
                                            <button type="button" 
                                                    ng-click="vm.generated = !vm.generated"
                                                    class="btn"
                                                    ng-class="vm.generated ? 'btn-info' : 'btn-outline-info'">
                                                {{vm.generated ? 'Редактировать' : 'Списки'}}
                                            </button>  
                                    </div>
                                </div>
                        </form>  
                </div>
                <div class="col-md-6 text-right">
                    <form ng-if="!vm.generated">
                            <div class="form-row justify-content-sm-end">
                                <div class="form-group">
                                        <button type="button" class="btn btn-primary" ng-click="vm.generate()">Генерировать</button>
                                        &nbsp; &nbsp;
                                        <a href="/admin/index.html" class="btn btn-outline-primary">Отмена</a>
                                        <button type="button" class="btn btn-success" ng-click="vm.saveSeats()">Сохранить файл</button>
                                        <button type="button" class="btn btn-success" ng-click="vm.saveCurrentSeats()">Назначить текущую рассадку</button>
                                </div>
                            </div>
                    </form>        
                </div>
            </div>
            <div class="row" ng-if="!vm.generated">
                <div class="col-md-12">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                    <label for="searchInp">Поиск</label>
                                    <input type="text" class="form-control" id="searchInp">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="corpsSlct">Корпус</label>
                                <select id="corpsSlct" 
                                        ng-model="vm.currentCorps"
                                        ng-options="corps.name for corps in vm.corpses track by corps.alias"
                                        ng-change="vm.changeCorps()"
                                        class="form-control">

                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="placeSlct">Профиль</label>
                                    <select id="placeSlct" 
                                            ng-model="vm.currentPlace"
                                            ng-options="place.code for place in vm.currentCorps.places track by place._id"
                                            ng-change="vm.changePlace()"
                                            class="form-control">
                                            <option value="">Все</option>
                                    </select>
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="audienceSlct">Аудитория</label>
                                    <select id="audienceSlct" 
                                            ng-model="vm.currentAudience"
                                            ng-options="audience.name for audience in vm.audiences track by audience._id"
                                            class="form-control">
                                            <option value="">Все</option>
                                    </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" ng-if="!vm.generated">
                <div class="col-md-8">
                        <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col" ng-click="vm.pupilOrder = vm.pupilOrder === 'firstName' ? '-firstName' : 'firstName'">
                                        ФИО
                                        <span ng-if="vm.pupilOrder === 'firstName'" class="oi oi-arrow-top"></span>
                                        <span ng-if="vm.pupilOrder === '-firstName'" class="oi oi-arrow-bottom"></span>
                                    </th>
                                    <th scope="col" ng-click="vm.pupilOrder = vm.pupilOrder === 'audience' ? '-audience' : 'audience'">
                                        Каб.
                                        <span ng-if="vm.pupilOrder === 'audience'" class="oi oi-arrow-top"></span>
                                        <span ng-if="vm.pupilOrder === '-audience'" class="oi oi-arrow-bottom"></span>
                                    </th>
                                    <th scope="col" ng-click="vm.pupilOrder = vm.pupilOrder === 'profile' ? '-profile' : 'profile'">
                                        Профиль
                                        <span ng-if="vm.pupilOrder === 'profile'" class="oi oi-arrow-top"></span>
                                        <span ng-if="vm.pupilOrder === '-profile'" class="oi oi-arrow-bottom"></span>
                                    </th>
                                    <th scope="col" ng-click="vm.pupilOrder = vm.pupilOrder === 'needBel' ? '-needBel' : 'needBel'">
                                        Бел
                                        <span ng-if="vm.pupilOrder === 'needBel'" class="oi oi-arrow-top"></span>
                                        <span ng-if="vm.pupilOrder === '-needBel'" class="oi oi-arrow-bottom"></span>
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="pupil in vm.pupils | filter: vm.pupilFilter | orderBy: vm.pupilOrder  track by pupil._id"
                                  data-pupil="{{pupil._id}}"
                                  data-bel="{{pupil.needBel === true}}"
                                  x-lvl-draggable='true' >
                                    <td>{{pupil.firstName}} {{pupil.lastName}} {{pupil.parentName}}</td>
                                    <td>{{vm.dictionary.audiences[pupil.audience]}}</td>
                                    <td>{{vm.dictionary.profiles[pupil.profile]}}</td>
                                    <td>
                                            <div ng-if="pupil.needBel === true"
                                            style="
                                                background: repeating-linear-gradient(   180deg,   #ffffff,   #ffffff 6px,   #ed0909 0px,   #ff0000 16px );
                                                width: 36px;
                                                height: 24px;
                                                border: 1px solid;
                                            "></div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-hover" style="position: sticky;top: 0;">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Max</th>
                        <th scope="col">Бел</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="audience in vm.audiences track by audience._id"
                        ng-class="audience.count > audience.max ? 'table-danger' : ''"
                        x-lvl-drop-target="true" 
                        x-on-drop="vm.dropped(dragEl, dropEl)"
                        data-bel="{{audience.bel === true}}"
                        data-audience="{{audience._id}}">
                            <th scope="row">{{audience.name}}</th>
                            <td>{{audience.count}}</td>
                            <td>{{audience.max}}</td>
                            <td>
                                <div ng-if="audience.bel === true"
                                style="
                                    background: repeating-linear-gradient(   180deg,   #ffffff,   #ffffff 6px,   #ed0909 0px,   #ff0000 16px );
                                    width: 36px;
                                    height: 24px;
                                    border: 1px solid;
                                "></div>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>

            <div class="row" ng-if="vm.generated">
                <div class="col-md-3"
                     ng-repeat="corps in vm.corpses track by corps.alias">
                     <div class="card mb-5">
                        <div class="card-body">
                            <h5 class="card-title">{{corps.name}}</h5>
                        </div>        
                        <ul class="list-group list-group-flush">
                            <a  href="#" 
                                class="list-group-item list-group-item-action"
                                ng-repeat-start="place in corps.places track by place._id">
                                <strong>{{place.code}} - {{place.count}} / {{place.max}}</strong>
                            </a>    
                            <a href="#"
                                class="list-group-item list-group-item-action"
                                ng-repeat="audience in place.audience track by audience._id">
                                {{audience.name}} - {{audience.count}} / {{audience.max}}
                            </a>
                           <span ng-repeat-end></span>
                        </ul>
                        <a ng-href="{{ '/api/corpses/print/' + corps.alias + '.html'}}" target="_blank" class="btn btn-primary">Печать</a>
                    </div>
                </div>
            </div>
        </div>

        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>

        <script src="js/angular.min.js"></script>
        <script src="js/angular-drag-and-drop-lists.js"></script>

        <script src="js/main.js"></script>
       
    </body>
</html>
